//breakpoints
$min-mobile: 0px;
$min-tablet: 820px;
$min-laptop: 1024px;

//Colors
$white: #FFF;
$isabelline: #ECECEC;
$light-gray: #e9e9e9;
$smoky-black: #0C0910;
$transparent:  rgb(116, 74, 74);
$granite-gray: #39383a;
$quick-silver: #A6A5A8;
//Typography
$raleway: 'Raleway', sans-serif;
$old-standard-TT: 'Old Standard TT', serif; 
$raleway-regular: 400;
$raleway-bold: 700;
$old-standard-TT-regular: 400;
$old-standard-TT-bold: 700;
//Font sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
